force-app/main/default/flows/Abonnement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Abonnement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abonnement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>getInfoClientAndIndex</name>
        <label>getInfoClientAndIndex</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>infoClient</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Nom : {!Nom}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Prénom : {!Prenom}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Ville : &lt;/span&gt;{!Getcity}&lt;/p&gt;&lt;p&gt;Adresse desservie : {!Adressedesservie}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dernier rélevé d&apos;index :&lt;/p&gt;&lt;p&gt;{!AncienIndex}&lt;/p&gt;&lt;p&gt;Date du dernier relevé d&apos;index :&lt;/p&gt;&lt;p&gt;{!DateDernierReleveIndex}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getInfoClientAndIndex_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>getInfoClientAndIndex_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IndexAbo</name>
                    <dataType>String</dataType>
                    <fieldText>Index d&apos;abonnement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>date_releve</name>
                    <dataType>Date</dataType>
                    <fieldText>Date du relevé</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>getInfoClientAndIndex_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>getInfoClientAndIndex_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>verifierIndex</name>
                    <extensionName>c:verifierIndex_Screen3</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dateReleve</name>
                        <value>
                            <elementReference>date_releve</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>IndexAbonnement</name>
                        <value>
                            <elementReference>IndexAbo</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>ancienIndex</name>
                        <value>
                            <elementReference>AncienIndex</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dateDernierReleveIndex</name>
                        <value>
                            <elementReference>DateDernierReleveIndex</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>footerNav3</name>
            <extensionName>c:footerNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_getCity</name>
        <label>screen_getCity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_infoClient</targetReference>
        </connector>
        <fields>
            <name>screen_getCity_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_getCity_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msg_screen_1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Veuillez vous assurer que votre client est un particulier avec un accès à l&apos;eau dans son logement pour poursuivre l&apos;abonnement dans WaterFlow.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Sinon, veuillez réaliser la demande d&apos;abonnement directement dans ...(autre apk)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>searchcitycmp</name>
                    <extensionName>c:searchCity_cmp</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Getcity</assignToReference>
                        <name>getCity</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>footerNav</name>
            <extensionName>c:footerNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_infoClient</name>
        <label>screen_infoClient</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getInfoClientAndIndex</targetReference>
        </connector>
        <fields>
            <name>screen_infoClient_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_infoClient_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>searchadresse</name>
                    <extensionName>c:searchAdressDesservie</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Getcity</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Adressedesservie</assignToReference>
                        <name>adressdesservie</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Nom</assignToReference>
                        <name>nom</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>Prenom</assignToReference>
                        <name>prenom</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>AncienIndex</assignToReference>
                        <name>ancienIndex</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>DateDernierReleveIndex</assignToReference>
                        <name>dateRernierReleveIndex</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_infoClient_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_infoClient_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>footerNav2</name>
                    <extensionName>c:footerNavigation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_getCity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Adressedesservie</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AncienIndex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DateDernierReleveIndex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Getcity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Nom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prenom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
